@use '../../style/mixins' as *;

#contact {
  text-align: center;
  margin: var(--large-margin) auto 0 auto;

  > h2 {
    margin-bottom: var(--normal-margin);

    > a {
      @include title-font();
      @include title-fragment-link();
    }
  }

  > .links {
    display: inline-block;
  }

  > aside {
    margin: var(--large-margin) auto var(--line-height) auto;

    > p {
      @include special-text-font();
      color: var(--normal-text-color);
      opacity: 0.75;
    }
  }
}
