@import "../../style/mixins";
@import "../../style/vars";

#about {
  width: 100%;
  backdrop-filter: blur($blur-radius);
  padding: $normal-margin;

  .container {
    width: $body-width;
    margin: auto;

    header {
      @include center-children();

      h1,
      img {
        @include title-font();
      }

      img {
        @include square(4ch);
        border-radius: 100%;
        margin-right: 1.5ex;
        cursor: pointer;
      }

      @media (max-width: $breakpoint-width) {
        flex-direction: column;
        img {
          margin: 0 0 $small-margin 0;
        }
        h1 {
          text-align: center;
        }
      }
    }

    * {
      text-align: justify;
    }
  }
}
