@use '../../style/mixins' as *;

@mixin q-dependent-line-container($q) {
  > .line {
    height: calc(#{$q} - var(--icon-size) / 2);

    &:before {
      height: calc(100% - #{$q} - var(--icon-size) / 2);
    }

    &:after {
      top: calc(#{$q} - var(--icon-size) / 2);
    }
  }

  > .date {
    top: calc(#{$q} - 0.5ch);
  }
}

.timeline-element {
  display: flex;
  width: var(--body-width);
  margin: auto;

  > .line-container {
    position: relative;
    @include q-dependent-line-container(33%);
    transform: translate3d(0, 0, 0); // fix visual glitches in webkit

    > .line {
      &,
      &:before {
        background: var(--accent-color);
        width: var(--line-width);
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
      }

      &:before {
        left: 0;
        bottom: 0;
      }

      &:after {
        @include square(var(--icon-size));
        border-radius: 1000px;
        border: var(--line-width) solid var(--accent-color);
        left: calc((var(--line-width) - var(--icon-size)) / 2);
      }
    }

    > .date {
      @include special-text-font();
      position: absolute;
      transform-origin: left center;
      transform: rotate(30deg) translateX(calc(var(--icon-size) / 2 + 6px))
        translateY(-10%);

      padding-right: var(--normal-margin);
    }
  }

  > .card {
    @include blurred-background();
    box-shadow: var(--shadow);
    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--blurred-card-color);
    transition: background-color var(--transition-time);

    > .figure-container {
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }

    > .lower {
      > * {
        padding: 0 var(--normal-margin);
        margin-top: var(--small-margin);
      }

      > h2 {
        text-align: center;
        margin-bottom: -6px;

        > a {
          @include sub-title-font();
          @include title-fragment-link();
        }
      }

      > .description {
        text-align: center;
      }

      > .more {
        overflow: hidden;
        margin: 0;
        height: 0;
        transition: height var(--transition-time-long);

        > p {
          margin-top: var(--line-height);
        }
      }

      $border-width: 1px;

      > .buttons {
        display: flex;
        justify-content: center;
        border-top: $border-width solid var(--normal-text-color);

        margin: 0;
        padding: 0;
        margin-top: var(--small-margin);

        > * {
          flex: 1;

          &:not(:last-child) {
            border-right: $border-width solid var(--normal-text-color);
          }
        }
      }
    }
  }

  @include on-large-screen {
    &:first-of-type > .line-container > .line {
      border-radius: 100px 100px 0 0;
    }

    &:last-of-type > .line-container > .line:before {
      border-radius: 0 0 100px 100px;
    }

    > .line-container {
      min-width: 10rem;
    }

    &:not(:first-of-type) > .card {
      margin-top: var(--large-margin);
    }
  }

  @include on-small-screen {
    flex-direction: column;
    align-items: center;

    > .line-container {
      @include q-dependent-line-container(50%);
      height: 150px;
      min-width: 64%;

      > .date {
        transform: translateX(calc(var(--icon-size) / 2 + 12px)) translateY(-10%);
      }
    }
  }
}
