@use '../../style/mixins' as *;

#up-arrow-button {
  @include blurred-background();

  cursor: pointer;
  box-shadow: var(--shadow);
  transition: opacity var(--transition-time), transform var(--transition-time-long);

  border-radius: var(--border-radius);

  position: fixed;
  bottom: var(--small-margin);
  right: var(--normal-margin);
  padding: 0.25rem;

  &:hover {
    transform: scale(1.1);
  }

  &.down {
    transform: rotate(180deg);
    &:hover {
      transform: scale(1.1) rotate(180deg);
    }
  }

  svg {
    @include square(var(--large-icon-size));
  }
}
