@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Raleway&subset=latin-ext');

:root {
  --photo-viewer-color: rgba(0, 0, 0, 0.75);
  --accent-color: #5264bf;
  --light-accent-color: #e5e5ff;
  --scroll-color: #ffd6d6;
  --bg-color:linear-gradient(90deg, #fff9e0 0, #ffd6d6 100%);
  --card-color: white;
  --text-color: #31343f;
  --light-text-color: #7a7d8e;
  --dot-size: 25px;
  --line-width: 3px;
  --exit-size: 25px;
  --line-height: 15px;
  --smaller-margin: 25px;
  --margin: 35px;
  --border-radius: 5px;
  --transition-time: 200ms;
  --width: 765px;
}
@media (max-width: 900px) {
  :root {
    --exit-size: 20px;
    --margin: 25px;
    --smaller-margin: 20px;
  }
}
