@use '../../../style/mixins' as *;

.video-container {
  & > *:not(.start-button) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .loading {
    @include square(var(--large-icon-size));
    @include absolute-center;
    visibility: hidden;

    & > svg {
      @include square(var(--large-icon-size));
      @include absolute-center;
    }
  }

  video {
    z-index: 1;
    visibility: hidden;
  }

  &.loaded .loading {
    visibility: visible;
  }

  &.fully-loaded video {
    visibility: visible;
  }
}
