@use '../../../style/mixins' as *;

.video-container {
  .loading {
    @include square(var(--large-icon-size));
    @include absolute-center;
    visibility: hidden;
  }

  video {
    z-index: 1;
    visibility: hidden;
  }

  .start-button {
    z-index: 1;
  }

  &.loaded:not(.fully-loaded) .loading {
    visibility: visible;
  }

  &.fully-loaded video {
    visibility: visible;
  }
}
