@use '../../../style/mixins' as *;

.video-container {
  .loading {
    @include square(var(--large-icon-size));
    @include absolute-center;
    visibility: hidden;

    & > svg {
      @include square(var(--large-icon-size));
      @include absolute-center;
    }
  }

  video {
    z-index: 1;
    visibility: hidden;
  }

  &.loaded .loading {
    visibility: visible;
  }

  &.fully-loaded video {
    visibility: visible;
  }

  .start-button {
    z-index: 1;
  }
}
