@use '../../style/mixins' as *;

main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 5px;

  // chrome scrolling does not work on PC without this
  background: rgba(0, 0, 0, 0.005);

  @media (hover: hover) {
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--accent-color);
      border-radius: var(--border-radius);
    }
  }
}
