@use '../../../style/mixins' as *;

.figure-container {
  > .overlay {
    @include square(100%);
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;

    > .loading {
      @include square(var(--large-icon-size));
      @include absolute-center;
      visibility: hidden;
    }

    > iframe {
      @include square(100%);
      border: none;
      position: absolute;
      left: 0;
    }
  }

  &.loaded {
    > .start-button {
      visibility: hidden;
    }

    > .overlay {
      pointer-events: all;

      > .loading {
        visibility: visible;
      }
    }
  }
}
