@import '../../style/vars';
@import '../../style/mixins';

@include responsive() using ($vars) {
  .figure-container {
    font-size: 0;
    box-shadow: inset map_get($vars, $shadow1), inset map_get($vars, $shadow2);
    pointer-events: none;
    cursor: pointer;

    * {
      pointer-events: all;
      position: relative;
      z-index: -2;
    }
  }

  .primitive-text,
  .primitive-anchor,
  .figure-container {
    margin-top: map_get($vars, $line-height);
  }

  .primitive-text {
    text-align: left;
  }
}
