@use '../../style/mixins' as *;

.image-anchor {
  display: flex;
  align-items: center;

  &:not(:first-child) {
    padding-top: var(--line-height);
  }

  svg {
    @include square(var(--icon-size));
    margin-right: calc(var(--small-margin) / 2);
  }

  span {
    @include link;
    font-size: 1.4rem;
  }
}
