@import '../../style/mixins';
@import '../../style/vars';

footer#page-footer {
  text-align: center;

  margin: $large-margin auto 0 auto;
  width: 100%;

  h2 {
    @include title-font();
  }

  ul {
    list-style: none;
    display: inline-block;
    margin-top: $normal-margin;
    text-align: left;

    li {
      @include center-children();
      justify-content: flex-start;

      &:not(:first-child) {
        padding-top: $line-height;
      }

      img {
        @include max-square($icon-size);
        margin-right: $small-margin;
      }

      a {
        font-size: 1.4rem;
      }
    }
  }

  aside.other {
    @include center-children();
    margin: $large-margin auto $line-height auto;
    width: $body-width;

    h6 {
      @include insignificant-font();
      opacity: 0.75;
    }
  }
}
