@import '../../style/mixins';
@import '../../style/vars';

@include responsive() using ($vars) {
  footer#page-footer {
    text-align: center;

    margin: map_get($vars, $large-margin) auto 0 auto;
    width: 100%;

    h2 {
      @include title-font();
    }

    ul {
      list-style: none;
      display: inline-block;
      margin-top: map_get($vars, $normal-margin);
      text-align: left;

      li {
        @include center-children();
        justify-content: flex-start;

        &:not(:first-child) {
          padding-top: map_get($vars, $line-height);
        }

        img,
        svg {
          @include max-square(map_get($vars, $icon-size));
          * {
            fill: map_get($vars, $normal-text-color);
          }
          margin-right: map_get($vars, $small-margin);
        }

        a {
          font-size: 1.4rem;
        }
      }
    }

    aside.other {
      @include center-children();
      flex-direction: column;
      margin: map_get($vars, $large-margin) auto map_get($vars, $line-height)
        auto;
      width: map_get($vars, $body-width);

      h6 {
        @include insignificant-font();
        display: inline;
        opacity: 0.75;
      }
    }
  }
}
