@use 'sass:color';
@use 'style/mixins' as *;

a {
  $border-shift: 10px;
  $line-width: 2px;

  @include special-text-font();
  text-decoration: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;

  padding-bottom: $line-width;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
  }

  &:before {
    width: calc(100% + #{$border-shift});
    border-bottom: $line-width dashed var(--accent-color);
    transition: transform var(--transition-time);
  }

  &:after {
    width: 100%;
    height: $line-width;
    background: linear-gradient(
      90deg,
      var(--card-color) 0,
      transparent 4px,
      transparent calc(100% - 4px),
      var(--card-color) 100%
    );
  }

  &:hover {
    &:before {
      transform: translateX(-$border-shift);
    }
  }
}
