#photo-viewer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--photo-viewer-color);
  z-index: -3;
  opacity: 0;
  transition: opacity var(--transition-time);
}

/* #photo */
#photo-viewer > img {
  max-width: 80vw;
  max-height: 80vh;
}
/**/
