// https://google-webfonts-helper.herokuapp.com/fonts/montserrat?subsets=latin
//  add font-display: swap;
/*
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../static/fonts/lato/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
    url('../static/fonts/lato/lato-v16-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../static/fonts/lato/lato-v16-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../static/fonts/lato/lato-v16-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../static/fonts/lato/lato-v16-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../static/fonts/lato/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url('../static/fonts/lato/lato-v16-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
    url('../static/fonts/lato/lato-v16-latin-italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../static/fonts/lato/lato-v16-latin-italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../static/fonts/lato/lato-v16-latin-italic.woff') format('woff'),
    /* Modern Browsers */ url('../static/fonts/lato/lato-v16-latin-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../static/fonts/lato/lato-v16-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../static/fonts/montserrat/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../static/fonts/montserrat/montserrat-v14-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../static/fonts/montserrat/montserrat-v14-latin-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../static/fonts/montserrat/montserrat-v14-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../static/fonts/montserrat/montserrat-v14-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../static/fonts/montserrat/montserrat-v14-latin-regular.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
