@import '../framework/framework';

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:ital@0;1&display=swap');

@mixin center-children() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin card-base() {
  text-align: center;
  padding: var(--normal-margin);
  box-shadow: var(--shadow);
  z-index: 1;
  width: 100%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin max-square($size) {
  max-width: $size;
  max-height: $size;
}

@mixin title-font() {
  font: 400 3rem 'Comfortaa', serif;
  font-style: normal;
  color: var(--normal-text-color);
  line-height: 1;

  @include on-small-screen {
    font-size: 2.5rem;
    line-height: 1.1;
  }
}

@mixin sub-title-font() {
  font: 400 1.75rem 'Comfortaa', serif;
  color: var(--normal-text-color);
  font-style: normal;
}

@mixin main-font() {
  font: 400 1.1rem 'Open Sans', sans-serif;
  color: var(--normal-text-color);
  line-height: 1.6;
}

@mixin special-text-font() {
  font: 400 1rem 'Open Sans', sans-serif;
  color: var(--special-text-color);
  font-style: italic;
}
