header,
footer,
#timeline,
#about > p:first-of-type,
#timeline > section:not(:first-of-type) > .card {
  margin-top: var(--margin);
}

#about > p {
}

#timeline > section {
  display: flex;
}

.card {
  flex: 1;
}

#about > p,
.card > *:not(:first-child):not(:last-child),
.collapsed > *:not(:first-child) {
  margin-top: var(--line-height);
}

img {
  user-select: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.description {
  font-style: italic;
  margin-bottom: var(--smaller-margin);
}

.collapsed > p {
  text-align: left;
}

.collapsed {
  height: 0;
  overflow: hidden;
  transition: height var(--transition-time);
}
.collapsed > *:last-child {
  margin-bottom: var(--smaller-margin);
}

footer {
  margin-bottom: var(--margin);
}

@media (max-width: 900px) {
  body {
    font-size: 0.85em;
  }

  #photo {
    max-width: 94vw;
  }

  .card {
    font-size: 0.9em;
  }

  header {
    flex-direction: column;
  }

  h1,
  #header-pic {
    font-size: 3em;
  }

  #header-pic {
    height: 5.5ch;
    margin: 0.75ex 0 0.5ex 0;
  }

  #about > p {
    text-align: left;
  }
}
