@use '../../style/mixins' as *;

.image-button {
  @include image-button(var(--icon-size));
  padding: var(--small-margin) 8px;
  text-align: center;

  .svg-container {
    position: relative;
    margin: auto;
    @include square(var(--icon-size));

    > svg {
      transition: stroke var(--transition-time), transform var(--transition-time);
    }
  }

  p {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
  }
}
