@use '../../../style/mixins' as *;

.figure-container {
  &.loaded > .start-button,
  &:not(.loaded) > video {
    visibility: hidden;
  }

  > video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
