@use '../../../style/mixins' as *;

@mixin q-dependent-line-container($q) {
  .line {
    height: calc(#{$q} - var(--icon-size) / 2);

    &:before {
      height: calc(100% - #{$q} - var(--icon-size) / 2);
    }
    &:after {
      top: calc(#{$q} - var(--icon-size) / 2);
    }
  }
  .date {
    top: calc(#{$q} - 0.5ch);
  }
}

section.timeline-element {
  display: flex;
  width: var(--body-width);
  margin: auto;

  .line-container {
    position: relative;
    @include q-dependent-line-container(33%);
    min-width: 160px;

    .line {
      border-left: var(--line-width) solid var(--accent-color);

      &:before,
      &:after {
        content: '';
        position: absolute;
      }

      &:before {
        left: 0;
        bottom: 0;
        border-left: var(--line-width) solid var(--accent-color);
      }

      &:after {
        @include square(var(--icon-size));
        border-radius: 1000px;
        border: var(--line-width) solid var(--accent-color);
        left: calc(-1 * var(--icon-size) / 2 + var(--line-width) / 2);
      }
    }

    .date {
      @include special-text-font();
      position: absolute;
      transform-origin: left center;
      transform: rotate(30deg) translateX(calc(var(--icon-size) / 2 + 6px))
        translateY(-10%);

      padding-right: var(--normal-margin);
    }
  }

  @include on-large-screen {
    &:not(:first-of-type) .card {
      margin-top: var(--large-margin);
    }
  }

  @include on-small-screen {
    flex-direction: column;
    align-items: center;

    .line-container {
      @include q-dependent-line-container(50%);
      height: 150px;
      width: 50%;

      .date {
        transform: translateX(calc(var(--icon-size) / 2 + 12px))
          translateY(-10%);
      }
    }
  }

  .card {
    @include card-base();
    border-radius: var(--border-radius);
    background-color: var(--card-color);

    & > *:not(:first-child) {
      margin-top: var(--line-height);
    }

    .content {
      margin-top: 0;
    }

    h2 {
      @include sub-title-font();
    }

    & > p {
      font-style: italic;
      text-align: center;
    }

    .more {
      overflow: hidden;
      height: 0;
      transition: height var(--transition-time);
    }

    .buttons {
      position: relative;
      margin-top: var(--line-height);

      .show-more,
      .show-less {
        transition: opacity var(--transition-time);
      }

      .show-more {
        opacity: 1;
      }

      .show-less {
        @include absolute-center();
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}
