@import "../../../style/mixins";
@import "../../../style/vars";

.timeline-element {
  display: flex;

  .date-narrow-screen,
  .date-wide-screen {
    @include insignificant-font();
  }

  .line {
    @media (max-width: $breakpoint-width) {
      display: none;
    }

    position: relative;
    margin: 0 $small-margin 0 $icon-size / 2;
    border-left: $line-width solid $normal-text-color;

    &:before {
      content: "";
      @include square($icon-size);
      position: absolute;
      top: 33%;
      left: calc(-0.5 * #{$icon-size} - (1.5 * #{$line-width}));
      border: $line-width solid $normal-text-color;
      border-radius: 100%;
      background: $background;
    }

    .date-wide-screen {
      position: relative;
      top: calc(33% + #{$icon-size} + 2ch);
      transform: rotate(30deg);
      margin: 0 $normal-margin 0 calc(#{$line-width} + 1ex);
      width: 100px;
    }
  }

  &:not(:first-of-type) .card {
    margin-top: $normal-margin;
  }

  .card {
    @include card();
    overflow: hidden;

    & > *:not(:first-child) {
      margin-top: $line-height;
    }

    h2 {
      @include sub-title-font();
    }

    .date-narrow-screen {
      @media (min-width: $breakpoint-width) {
        display: none;
      }

      margin: $small-margin 0 0 0;
      color: $light-text-color;
    }

    img {
      cursor: pointer;
    }

    .description {
      font-style: italic;
    }

    #more {
      overflow: hidden;
      height: 0;
      margin-top: 0;
      transition: height $slow-transition-time;
    }

    .buttons {
      position: relative;
      margin-top: $small-margin;

      * {
        transition: opacity $slow-transition-time;
      }

      #show-more {
        opacity: 1;
      }

      #show-less {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}
