@import '../../style/vars';
@import '../../style/mixins';

@include responsive() using ($vars) {
  div.background-element {
    position: -webkit-sticky;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    width: 140px;

    overflow: visible !important; // IE11 fix for disappearing elements

    @media (prefers-reduced-motion: reduce) {
      & {
        display: none;
      }
    }

    @media print {
      & {
        display: none;
      }
    }

    transition: transform map_get($vars, $long-transition-time),
      opacity map_get($vars, $long-transition-time);
    will-change: transform, opacity;
    animation: fade-in 1s linear;
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
