@import "../../style/vars";
@import "../../style/mixins";

#background-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  z-index: -1;
  -webkit-overflow-scrolling: touch;
  perspective: 5px;
  perspective-origin: center center;
  overflow: hidden;

  #background {
    overflow: hidden;
    will-change: width, height;
    transition: height $long-transition-time, width $long-transition-time;
    transform-style: preserve-3d; // really important for performance on mobile devices

    div {
      position: -webkit-sticky;
      border-radius: 100px;
      position: absolute;
      left: 0;
      top: 0;
      width: 7px;

      transition: transform $long-transition-time, opacity $long-transition-time;
      will-change: transform, opacity;
      animation: fade-in 1s linear;
      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}
