@import "../../style/vars";
@import "../../style/mixins";

#background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
  will-change: width, height;
  transition: height $long-transition-time, width $long-transition-time;

  div {
    border-radius: 100px;
    position: absolute;
    left: -1000vh;
    top: -1000vh;
    margin: 1000vh;
    width: 7px;

    transition: transform $long-transition-time, opacity $long-transition-time;
    will-change: transform, opacity;
    animation: fade-in 1s linear;
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
