@import "../../../style/mixins";
@import "../../../style/vars";

#about {
  margin-top: $normal-margin;

  header {
    @include center-children();

    h1,
    img {
      @include title-font();
    }

    img {
      @include square(4ch);
      border-radius: 100%;
      margin-right: 1.5ex;
      cursor: pointer;
    }
  }

  * {
    text-align: justify;
  }
}
