@use 'style/fonts';
@use 'style/vars';
@use 'style/mixins' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  @media (prefers-reduced-motion) {
    transition: none !important;
    animation: none !important;
  }
}

html[animations='off'] {
  &,
  *,
  *::before,
  *::after {
    transition: none !important;
    animation: none !important;
  }
}

html {
  height: 100%;

  overflow: hidden;

  @include on-small-screen {
    font-size: 0.8rem;
  }

  @media print {
    & {
      font-size: 0.7rem;
    }
  }
}

body {
  @media (min-width: $breakpoint-width) and (max-width: 999px) {
    @include zoom(0.8);
  }

  @media (min-width: 1000px) and (max-width: 1440px) {
    @include zoom(0.875);
  }

  background-color: var(--background);
  transition: background-color linear var(--transition-time);

  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom)
    env(safe-area-inset-left);

  height: 100%;

  @media print {
    & {
      height: auto;
    }
  }
}

noscript {
  @include square(100%);
  @include center-children();
  @include sub-title-font();
}

.image,
video,
iframe {
  user-select: none;
}

button {
  border: none;
  background: none;
}

svg {
  stroke: var(--normal-text-color);
}

p {
  @include main-font();
}

a {
  text-decoration: none;
}

:focus {
  outline: none;

  &:not(:hover) {
    outline: var(--accent-color) solid var(--line-width);
  }
}

::selection {
  background-color: var(--accent-color);
  color: var(--very-light-text-color);
}
